---
layout: page
---

<div class="card-grid">
{% assign sorted_posts = site.[[page.collection]] | sort: 'event-date-sort' %}
{% for post in sorted_posts %}
    <a class="card-cell" aria-label="{{ post.title }}" href="{{ post.url | relative_url }}">
      <figure style="background-image: url(
{% if post.feature-img %}
'{{ post.feature-img | relative_url }}'
{% elsif page.placeholder %}
'{{ site.data.placeholder.[[page.placeholder]] | relative_url }}'
{% else %}
'{{ site.data.placeholder.card-img | relative_url }}'
{% endif %})">
        {% if post.event-date %}
        <div class="date">{{ post.event-date }}{% if post.event-time %} &nbsp; {{ post.event-time }}{% endif %}</div>
        {% endif %}
        <figcaption>
          <h3>{{ post.title }}</h3>
          {% if site.excerpt or site.theme_settings.excerpt %}
          <p title="{{ post.title }}">
            {% if site.excerpt == "truncate" %}
              {{ post.content | strip_html | truncate: '250' | escape }}
            {% else %}
              {{ post.excerpt | strip_html | escape }}
            {% endif %}
          </p>
          {% endif %}
        </figcaption>
      </figure>
    </a>
{% endfor %}
</div>
