---
layout: page
---

{% if page.tag-filter %}
  <div class="card-grid">
    {% assign posts = (site.posts | where_exp: "e", "e.date >= site.time") %}
    {% for post in posts reversed %}
      {% if post.tags contains page.tag-filter %}
        <a class="card-cell" aria-label="{{ post.title }}" href="{{ post.url | relative_url }}">
            <figure style="background-image: url({{ site.data.placeholder.post-img | relative_url }}">
            <div class="date">{{ post.date | date: "%d.%m.%Y" }}{% if post.time %} &nbsp; {{ post.time }}{% endif %}</div>
            <figcaption>
              <h3>{{ post.title }}</h3>
              <p title="{{ post.title }}">
                  {{ post.excerpt | strip_html | escape }}
              </p>
            </figcaption>
          </figure>
        </a>
      {% endif %}
    {% endfor %}
  </div>
{% else %}
  <p>No tag-filter set!!!</p>
{% endif %}
