---
layout: page
---

<div class="events">
    <ul class="event-list">
        {% assign posts = site.[[page.collection]] %}
        {% for post in posts reversed %}
        <li>
            <article class="event">
                <div class="image">
                    <figure>
                        <div class="image"><img src="{{ site.data.placeholder.event-img | relative_url }}"></div>
                        {% if post.category %}
                        <div class="category">{{ post.category }}</div>
                        {% endif %}
                    </figure>
                </div>
                <div class="description">
                    <h1>{{ post.title}}</h1>

                    {{ post.excerpt | strip_html | escape }}

                    <br/>

                    <a href="{{ post.url | relative_url }}">Weiterlesen.</a>
                </div>
                <div class="details">
                    {% if post.location %}
                    <div><i class="fa fa-map-marker"></i>{{ post.location }}</div>
                    {% endif %}
                    <div class="date"><i class="fa fa-calendar"></i>{{ post.date | date: "%d.%m.%Y" }}
                    {% if post.time %}
                    <div class="time"><i class="fa fa-clock"></i>{{ post.time }}</div>
                    {% endif %}
                    {% if post.fee %}
                    <div class="time"><i class="fa fa-money-bill"></i>{{ post.fee }}</div>
                    {% endif %}
                </div>
            </article>
        </li>
        {% endfor %}
    </ul>

    <a class="button" href="../veranstaltungsarchiv/">Veranstaltungsarchiv</a>
</div>
